@font-face {
    font-family: Playfair;
    src: url('../fuentes/PlayfairDisplay-BlackItalic.woff');
}

@font-face {
    font-family: Montserrat;
    src: url('../fuentes/Montserrat-Regular.woff');
}

@font-face {
    font-family: ChronicaPro;
    src: url('../fuentes/ChronicaPro-Medium.woff');
}

body {
    background-color: white !important;
}

.top-nav-collapse {
    background-color: #3949ab !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

.nav-link {
    color: #62179C !important;
    font-family: Montserrat;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.img-logo {
    width: 70%;
}

.img-slider {
    width: 100%;
}

.img-slider-responsive {
    display: none;
}

.xpressive-designs {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Playfair;
    color: white;
    font-size: 8vw;
    line-height: 0.9;
}

.we-create {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    color: white;
    font-size: 2vw;
    width: 100%;
}

.contenedor button {
    position: absolute;
    display: inline-block;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #BC8386;
    color: white;
    font-family: ChronicaPro;
    height: 38px;
    border-radius: 4px;
    padding: 10px 20px;
    border: black;
    white-space: nowrap;
}

/* Seccion 2 */
.fondo_seccion2 {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.img_seccion2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}

.titulo_seccion2 {
    font-family: Montserrat;
    font-size: 31px;
}

.parrafo_seccion2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

/* Seccion 3 */
#seccion3 {
    margin-top: 10%;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.fondo_seccion3 {
    width: 100%;
}

.titulo-seccion3 {
    position: absolute;
    top: 20%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: #6E25A2;
    font-family: Montserrat;
    font-size: 3vw;
}

.especial {
    position: absolute;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: #6E25A2;
    font-family: Playfair;
    font-size: 10vw;
}

.parrafo-seccion3 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Montserrat;
    font-size: 1.5vw;
    text-align: left;
    width: 100%;
    max-width: 700px;
}

/* Seccion 4 */
#seccion4 {
    margin-top: 10%;
}

.fondo_seccion4 {
    position: relative;
    display: inline-block;
    width: 100%;
}

.titulo-seccion4 {
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    font-size: 2vw;
    color: #6E25A2;
    width: 100%;
    text-align: center;
}

.delicious {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-family: Playfair;
    color: #6E25A2;
    font-size: 5vw;
}

.products {
    position: absolute;
    top: 70%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: #6E25A2;
    width: 100%;
    text-align: center;
    font-size: 2vw;
    font-family: Montserrat;

}

/* Footer */
footer {
    background: #B3E3E5;
    margin-top: 15%;
}

.caja-footer {}

.logo-footer {
    margin-top: -5.5%;
    width: 10%;
}

.caja-menu {
    margin-top: 4%;
    text-align: center;
}
.caja-menu span {
    margin: 0 5%;
}

.home {
    margin-right: 5%;
    margin-left: 10%;
}

.product {
    margin-right: 5%;
    margin-left: 5%;
}

.contact {
    margin-left: 5%;
    margin-right: 5%;
}

.img-bolillo {
    margin-top: 4%;
}

.caja-icon {
    width: 100%;
    text-align: center;
}

.caja-icon img {
    width: 60px;
    margin: 20px;
}

.icon-three {
    width: 15%;
}

.titulo-footer2 {
    font-family: Montserrat;
    font-size: 21px;
}

@media (max-width: 1024px) {
    .parrafo-seccion3 {
        font-size: 2vw;
    }
}

@media (max-width: 768px) {

    .navbar:not(.top-nav-collapse) {
        background: #6e25a200 !important;
    }
    .nav-link {
        color: #6E25A2 !important;
        font-family: Montserrat !important;
    }
    .navbar-dark .navbar-toggler {
        color: rgba(158, 38, 38, 0.5) !important;
        border-color: #6E25A2 !important;
    }
    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(60, 17, 157)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    }
    .img-logo {
        margin-top: 0%;
    }
    .img-slider {
        display: none;
    }
    .img-slider-responsive {
        display: block;
        width: 100%;
    }
    .xpressive-designs {
        font-size: 15vw;
        top: 30%;
    }
    .we-create {
        position: absolute;
        top: 45%;
        font-size: 5vw;
    }
    .contenedor button {
        top: 55%;
    }

    /* Seccion 2 */
    .titulo_seccion2 {
        width: 100%;
    }
    .parrafo_seccion2 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    /* Seccion 3 */
    .fondo_seccion3 {
        width: 160%;
        margin-left: -30%;
        margin-right: -30%;
    }
    .titulo-seccion3 {
        top: 10%;
        font-size: 17px;
        width: 100%;
    }
    .especial {
        top: 25%;
        left: 50%;
        width: 100%;
        font-size: 15vw;
    }
    .parrafo-seccion3 {
        margin-top: 5%;
        font-size: 3vw;
        width: 90%;
    }

    /* Seccion 4 */
    .titulo-seccion4 {
        top: 30%;
        left: 50%;
        font-size: 7vw;
    }
    .delicious {
        top: 50%;
        left: 50%;
        font-size: 15vw;
    }
    .products {
        top: 70%;
        left: 50%;
        font-size: 7vw;
        width: 100%;
    }

    /* Footer */
    .logo-footer {
        margin-top: -15%;
        width: 30%;
    }
    .home {
        margin-right: 5%;
        margin-left: 17%;
    }
    .product {
        margin-right: 3%;
        margin-left: 3%;
    }
    .contact {
        margin-left: 3%;
        margin-right: 3%;
    }
    .icon-three {
        width: 35%;
    }

    footer .container {
        max-width: 100%;
    }

}

@media (max-width: 420px) {

    .parrafo-seccion3 {
        font-size: 5vw;
    }

}
